<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div style="text-align: center; font-family: sans-serif;">
    <p>
      Olá <strong>{{name}}</strong>! Tudo bem?
    </p>
    <p>Aqui está o link para você trocar sua senha</p>
    <p>Lembrando que esse link é valido por 15 minutos</p>
    <a href="{{link}}/reset-password?id={{userId}}&tk={{token}}">
      Mudar minha senha
    </a>
    <br>
    <br>
    <p>
      Equipe | <strong>App</strong>
    </p>
  </div>
</body>
</html>